.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.wrapper::after, .row::after {
  content: "";
  display: table;
  clear: both; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

.open-sans {
  font-family: 'Open Sans', sans-serif; }

.bree-serif {
  font-family: 'Bree Serif', serif; }

.mint {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #d9f5e8; }

.light-mint {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #e9f9f2; }

.darken-mint {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #b1ead0; }

.teal {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #37cbc2; }

.light-teal {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #74dbd5; }

.darken-teal {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #2ba49d; }

.gold {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #ffbb33; }

.light-gold {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #ffd580; }

.darken-gold {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #ffaa00; }

.tomato {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: tomato; }

.light-tomato {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #ffa494; }

.darken-tomato {
  float: left;
  width: 33.33%;
  height: 100px;
  background-color: #ff3814; }

.mint-mint {
  background-color: #d9f5e8;
  width: 100%;
  height: 100px; }

.mint-mint-text {
  color: #d9f5e8; }

.teal-mint {
  color: #a0e6db;
  background-color: #a0e6db;
  width: 100%;
  height: 100px; }

.teal-mint-text {
  color: #a0e6db; }

.gold-mint {
  background-color: #e6e1a9;
  width: 100%;
  height: 100px; }

.gold-mint-text {
  color: #e6e1a9; }

.tomato-mint {
  background-color: #e6c2b0;
  width: 100%;
  height: 100px; }

.mint-teal {
  background-color: #70dacf;
  width: 100%;
  height: 100px; }

.mint-teal-text {
  color: #70dacf; }

.teal-teal {
  color: #37cbc2;
  background-color: #37cbc2;
  width: 100%;
  height: 100px; }

.teal-teal-text {
  color: #37cbc2; }

.gold-teal {
  background-color: #7dc590;
  width: 100%;
  height: 100px; }

.gold-teal-text {
  color: #7dc590; }

.tomato-teal {
  background-color: #7da797;
  width: 100%;
  height: 100px; }

.mint-gold {
  background-color: #f2cf72;
  width: 100%;
  height: 100px; }

.mint-gold-text {
  color: #f2cf72; }

.teal-gold {
  color: #b9c165;
  background-color: #b9c165;
  width: 100%;
  height: 100px; }

.teal-gold-text {
  color: #b9c165; }

.gold-gold {
  background-color: #ffbb33;
  width: 100%;
  height: 100px; }

.gold-gold-text {
  color: #ffbb33; }

.tomato-gold {
  background-color: #ff9c3a;
  width: 100%;
  height: 100px; }

.mint-tomato {
  background-color: #f2967f;
  width: 100%;
  height: 100px; }

.mint-tomato-text {
  color: #f2967f; }

.teal-tomato {
  color: #b98772;
  background-color: #b98772;
  width: 100%;
  height: 100px; }

.teal-tomato-text {
  color: #b98772; }

.gold-tomato {
  background-color: #ff8240;
  width: 100%;
  height: 100px; }

.gold-tomato-text {
  color: #ff8240; }

.tomato-tomato {
  background-color: tomato;
  width: 100%;
  height: 100px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }

  .column-1 {
    width: 25%; }

  .column-2 {
    width: 50%; }

  .column-3 {
    width: 75%; }

  .column-4 {
    width: 100%; } }
h1 {
  color: #37cbc2;
  font-family: 'Bree Serif', serif; }

h2 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif; }

h3 {
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  color: lightgray; }

/*# sourceMappingURL=styles.css.map */
